@using Microsoft.AspNetCore.Http
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - MyWebApp</title>
    <link rel="stylesheet" href="~/css/Site.css" asp-append-version="true" />
    <link rel="stylesheet" href="~/MyWebApp.styles.css" asp-append-version="true" />
</head>
<body>
    <header class="header-palette">
        <nav class="stand-alone header-palette">
            <div style="float:left">
                <a class="header-palette">
                    <svg xmlns="http://www.w3.org/2000/svg" width="25px" height="25px" viewBox="0 0 256 256">
                        <rect width="256" height="256" fill="none" />
                        <circle cx="92" cy="132" r="20" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                        <circle cx="164" cy="132" r="20" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                        <path d="M80,194.5a92,92,0,1,1,96,0V216a8,8,0,0,1-8,8H88a8,8,0,0,1-8-8Z" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                        <line x1="112" y1="224" x2="112" y2="192" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                        <line x1="144" y1="224" x2="144" y2="192" fill="none" stroke="#FFF" stroke-linecap="round" stroke-linejoin="round" stroke-width="12" />
                    </svg>
                </a>
                <a class="header-palette" style="width: 5em; font-size:small; display:inline-block" href="/">Try not to <br/> DIE</a>
            </div>
                @if (@HttpContextAccessor.HttpContext.Session.GetString("accessToken") != null && @HttpContextAccessor.HttpContext.Session.GetString("accessToken") != "")
                {
                    <div class="hamburger" style="float:right">
                        <div class="line"></div>
                        <div class="line"></div>
                        <div class="line"></div>
                    </div>
                        <ul class="menu left">
                            <li>
                                <a href="/">Пациенты</a>
                            </li>
                            <li>
                                <a href="/consultations/">Консультации</a>
                            </li>
                            <li >
                                <a href="/reports/">Отчеты и статистика</a>
                            </li>
                        </ul>
                <div class="profile menu right">
                    <div class="profile-btn">
                        <a id="headerEmail" class="header-palette truncate" data-bs-toggle="dropdown" href="#">
                            @HttpContextAccessor.HttpContext.Session.GetString("name")
                        </a>
                    </div>
                    <ul class="profile-menu header-palette">
                        <li><a href="/profile/">Профиль</a></li>
                        <li><a href="#" id="logoutBtn">Выход</a></li>
                    </ul>
                </div>
                    <ul class="mobile-menu stand-alone">
                    <li>
                        <a href="/">Пациенты</a>
                    </li>
                    <li>
                        <a href="/consultations/">Консультации</a>
                    </li>
                    <li>
                        <a href="/reports/">Отчеты и статистика</a>
                    </li>
                        <li><a href="/profile/">Профиль</a></li>
                        <li><a href="#" id="logoutBtn">Выход</a></li>
                    </ul>
                    }
                    else
                    {
                        <ul id='notloginedPanel' class="block" style="float:right">
                            <li class="nav-item dropdown">
                                <a class="nav-link header-palette" href="/login">Войти</a>
                            </li>
                        </ul>
                    }

        </nav>
    </header>
    <div class="container" id="content">
        <main role="main" class="flex main-container">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container stand-alone">
            &copy; 2023 - Site made by <a href"#">Viktoria Bukharova</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/jquery-ajax-unobtrusive/dist/jquery.unobtrusive-ajax.min.js"></script>
    <script src="~/lib/jquery.maskedinput/jquery.maskedinput.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>
