@model InspectionCreateModel
@{
    ViewData["Title"] = "Создание осмотра";
    PatientModel Patient = ViewBag.Patient;
    var IsSecond = ViewBag.IsSecond;
    string IsSecondChecked = IsSecond ? "checked" : "";
    var DiagsList = new List<DiagnosisModel>();
    if(ViewBag.Diagnoses!=null){
        var diags = ViewBag.Diagnoses;
    }
    dynamic? PrevList = ViewBag.PrevionsList;
    string birthday = "";
    if (Patient.Birthday != null) birthday = Patient.Birthday.GetValueOrDefault().ToString("dd.MM.yyy");
    string prevIdPresent = Model.PreviousInspectionId != null ? "" : "selected";
    string hidePrevSelector = Model.PreviousInspectionId != null ? "" : "hidden";
    string? disablPrevSelector = Model.PreviousInspectionId != null ? null : "disabled";
    string firstInspectionActive = !IsSecond ? "deepblue" : "";
    string secondaryInspectionActive = IsSecond ? "deepblue" : "";
}
<div class="content-header">
    <div class="stand-alone">
        <div class="left">
            <h2>Создание осмотра</h2>
        </div>
    </div>
</div>
<form id="createInspectionForm" data-ajax="true" data-ajax-method="post" data-ajax-success="onCreateSuccess" data-ajax-failure="onCreateFailed" data-ajax-url="/inspection/create">
    <div class="content-container" style="clear:both">
        <div class="stand-alone">
            <div asp-validation-summary="ModelOnly" class="text-danger row"></div>
            <div id="errors" class="text-danger row hidden"></div>
            <div id="success" class="text-success row hidden"><span>Данные сохранены успешно</span></div>
        </div>
        <div class="stand-alone">
            <div class="left">
                @{
                    var gender = Patient.Gender == "Male" ? "mars" : "venus";
                }
                <h3 style="display:flex; align-items:center; margin:0">
                    @Patient.Name
                    @if (Patient.Gender == "Male")
                    {
                        <svg class="icon" version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="20.000000pt" height="20.000000pt" viewBox="0 0 32.000000 32.000000"
                             preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                               stroke="none">
                                <path d="M223 283 c20 -2 37 -8 37 -12 0 -4 -18 -24 -39 -45 -33 -32 -42 -36
                                    -59 -27 -72 38 -152 -35 -121 -111 6 -16 25 -36 41 -44 76 -39 157 43 117 118
                                    -9 17 -5 26 27 59 21 21 41 39 45 39 4 0 10 -17 12 -37 3 -31 4 -29 5 15 l2
                                    52 -52 -2 c-44 -1 -46 -2 -15 -5z m-70 -94 c24 -11 47 -47 47 -73 0 -7 -9 -25
                                    -21 -40 -26 -33 -86 -37 -113 -7 -28 30 -24 80 8 108 30 26 44 28 79 12z" />
                            </g>
                        </svg>
                    }
                    else
                    {
                        <svg class="icon" version="1.0" xmlns="http://www.w3.org/2000/svg"
                             width="20.000000pt" height="20.000000pt" viewBox="0 0 32.000000 32.000000"
                             preserveAspectRatio="xMidYMid meet">

                            <g transform="translate(0.000000,32.000000) scale(0.100000,-0.100000)"
                               stroke="none">
                                <path d="M102 290 c-12 -11 -25 -32 -28 -46 -9 -36 19 -92 51 -100 19 -5 25
                                    -13 25 -34 0 -25 -4 -29 -32 -33 l-33 -4 33 -1 c27 -2 32 -6 32 -27 0 -14 5
                                    -25 10 -25 6 0 10 11 10 24 0 20 6 25 33 29 l32 4 -32 1 c-29 2 -33 5 -33 31
                                    0 23 6 30 25 35 32 8 60 64 51 100 -15 62 -98 88 -144 46z m97 0 c31 -16 45
                                    -64 29 -97 -40 -84 -174 -29 -138 58 19 46 66 63 109 39z" />
                            </g>
                        </svg>
                    }
                </h3>
            </div>
            <div class="right">
                <span>
                    Дата рождения: @birthday
                </span>
            </div>
        </div>
        <div class="stand-alone">
            <div style="width:fit-content">
                <div class="left" style="line-height:3;display:flex;align-items:center">    
                    <span class="form-label @firstInspectionActive" id="primaryLabel" style="padding-right:0.5em;display:inline-block"> Первичный осмотр </span>
                    <label class="switch" style="display:inline-block">
                        <!input id="IsSecondary" type="checkbox" value="@IsSecond" @IsSecondChecked />
                        <span class="slider-twosided round"></span>
                    </label>
                    <span class="form-label @secondaryInspectionActive" id="secondaryLabel" style="padding-left:0.5em;display:inline-block">  Повторный осмотр  </span>
                </div>
                <div id="prevSelectHolder" class="stand-alone @hidePrevSelector">
                    <label asp-for=PreviousInspectionId class="form-label">Предыдущий осмотр</label>
                    <select id="prevSelectId" asp-for=PreviousInspectionId class="fill" disabled =@disablPrevSelector>
                        <!option disabled @prevIdPresent>Выберите предыдущий осмотр</!option>
                        @if (PrevList != null)
                        {
                            foreach(var prev in PrevList)
                            {
                                string prevItemSelected = prev.Id.ToString() == Model.PreviousInspectionId ? "selected" : "";
                                <option value="@prev.Id.ToString()">@prev.Name</option>
                            }
                        }
                    </select>
                    <span asp-validation-for=PreviousInspectionId class="text-danger"></span>
                </div>
                <div class="stand-alone">
                        <label asp-for=Date class="form-label">Дата осмотра</label>
                        <input asp-for=Date type="datetime-local" class="fill">
                        <span asp-validation-for=Date class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="content-container" style="clear:both">
        <div class="stand-alone input-max">
                <label asp-for=Complaints class="form-label blue"><h3>Жалобы</h3></label>
                <textarea asp-for=Complaints rows="3"></textarea>
                <span asp-validation-for=Complaints class="text-danger"></span>
        </div>
    </div>
    <div class="content-container" style="clear:both">
        <div class="stand-alone input-max">
            <label asp-for=Anamnesis class="form-label blue"><h3>Анамнез</h3></label>
            <textarea asp-for=Anamnesis rows="3"></textarea>
            <span asp-validation-for=Anamnesis class="text-danger"></span>
        </div>
    </div>
    <div class="content-container" style="clear:both">
        <label class="form-label blue"><h3>Консультация</h3></label>
        <div id="ConsultationsHolder"></div>
        <div class="stand-alone">
            <div class="left"><button id="addConsultation" class="button" style="padding-left:2em" value="" />+ Добавить консультацию</div>
        </div>
    </div>
    <div class="content-container" style="clear:both">
        <div class="stand-alone input-max">
            <label class="form-label blue"><h3>Диагнозы</h3></label>
        </div>
        <div id="diagnosesHolder"></div>
        <div class="stand-alone">
            <div class="left"><button id="addDiagnosis" class="button" style="padding-left:2em" value="" />+ Добавить диагноз</div>
        </div>
    </div>
    <div class="content-container" style="clear:both">
        <div class="stand-alone input-max">
            <label asp-for=Treatment class="form-label blue"><h3>Рекомендации по лечению</h3></label>
            <textarea asp-for=Treatment rows="3"></textarea>
            <span asp-validation-for=Treatment class="text-danger"></span>
        </div>
    </div>

    <div class="content-container" style="clear:both">
        <div class="stand-alone input-max">
            <label class="form-label blue"><h3>Заключение</h3></label>
            <div class="stand-alone" style="display:flex;">
                <div class="col-left margin-right">
                    <label asp-for="Conclusion">Заключение</label>
                    <select id="conclusion-select" asp-for="Conclusion">
                        <option disabled selected>Выберите заключение</option>
                        <option value="Recovery" selected>Выздоровление</option>
                        <option value="Disease">Болезнь</option>
                        <option value="Death">Смерть</option>
                    </select>
                    <span asp-validation-for=Conclusion class="text-danger"></span>
                </div>
                <div id="nextVisitDate" class="col-left hidden margin-right">
                    <label asp-for="NextVisitDate">Дата следующего визита</label>
                    <input asp-for=NextVisitDate type="datetime-local" />
                    <span asp-validation-for=NextVisitDate class="text-danger"></span>
                </div>
                <div id="deathDate" class="col-left hidden">
                    <label asp-for="DeathDate">Дата смерти</label>
                    <input asp-for="DeathDate" type="datetime-local"/>
                    <span asp-validation-for=DeathDate class="text-danger"></span>
                </div>
            </div>
        </div>
    </div>
    <div class="stand-alone" style="display:flex;justify-content:center">
        <input type="submit" class="button margin-right" value="Сохранить осмотр"/>
        <a class="button margin-left grey" href="/patient/@Patient.Id">Отмена</a>
    </div>
</form>
@section Scripts {
    <script src="~/js/inspectionCreate.js" asp-append-version="true"></script>
    <script type="text/javascript">
        const patientId = '@Patient.Id';
    </script>
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}